
@{
    ViewData["Title"] = "AccountSetting";
}
<div class="nnnna p-1">

    <div>
        @Html.ActionLink("Change Password", "changepassword", "Account", null, new { @class = "btn btn-light form-control text-black p-1 border border-black" })
    </div>
    <div></div>
    <div></div>
    <div></div>
    

</div>

<style>
    .nnnna{
        background-color:dodgerblue;
        border:3px solid red;
    }

    body{
        margin:0px;
        padding:0px;
    }
    
    main{
        margin:0px;
        padding:0px;
    }
</style>