
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forget Pass</title>
    <link rel="stylesheet" href="~/css/login.css" />

</head>
<body>

    <div class="login-card">
        <p class="heading">Twit - Forget Password</p>

    @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { @class = "login-form" }))
    {
        @Html.TextBox("id", null, new { @class = "text-box", Type = "email", placeholder = "Email", required = "required" })
        <button type="submit" class="btn form-control btn-outline-dark ">Forget</button>
        <br />
            @Html.ActionLink("Login", "Login", "Account", null, new { @class = "register-link" })


    }

    @if (ViewBag.NotSucces != null)
    {
        <script>
            alert('@ViewBag.NotSucces');
        </script>
    }
    </div>


</body>
</html>


